---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---



<p>I’m EJ Mason. I’m a software engineer, web accessibility specialist, writer, and speaker. This website is a work-in-progress. Enjoy whatever you find here!</p>

{# <p>
	I'm taking a break from full-time work until 2023. In the meantime, I'm doing some open source work here and there. Outside of work, I volunteer with [The A11Y Project](https://www.a11yproject.com/) and [The Collab Lab](https://the-collab-lab.codes). If you want to say hi, you can [find me on Twitter](https://www.twitter.com/codeability) or [email me](mailto:hey@ejmason.com)!
</p> #}

	
{# {% set postsCount = collections.writing | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.writing | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %} #}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}

<nav class="a11y-webring-club" aria-labelledby="a11y-webring-club" style="margin-block-start:4em">
  <h2 id="a11y-webring-club">a11y-webring.club</h2>
  <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
  <ul>
    <li><a rel="previous external" href="https://a11y-webring.club/prev">Previous website</a></li>
    <li><a rel="external" href="https://a11y-webring.club/random">Random website</a></li>
    <li><a rel="next external" href="https://a11y-webring.club/next">Next website</a></li>
  </ul>
</nav>
